@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap');

.flex-container {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 150px;
}

li {
    font-size: 20px;
    line-height: 30px;
}

#tour-pic {
    height: 350px;
}

#text-on-right {
    padding: 0 5%;
}


/* ------------------------- RESPONSIVE LAYOUTS -------------------------*/

@media (max-width: 731px) {
    .flex-container {
        display: inline-block;
        position: relative;
        bottom: 130px;
    }

    #pricing {
        font-size: 20px;
    }

    li {
        font-size: 12px;
    }

    #tour-pic {
        position: relative;
        left: 5vw;
    }
}

@media (max-width: 549px) {
    .flex-container {
        bottom: 90px;
    }
}